<form [formGroup]="mainForm" class="wrapper">
  <h1>Please fill the form below</h1>
  <div formGroupName="theName">
    <h2>Name:</h2>
    <input type="text" formControlName="firstName" placeholder="Firstname"/>
    <input type="text" formControlName="lastName" placeholder="Lastname"/>

    <p class="errorMessage" *ngIf="!mainForm.controls.theName.valid && mainForm.controls.theName.touched">
      First and last name have to be at least 2 symbols
    </p>
  </div>

  <div formGroupName="education">
     <h2>Education</h2>
    <div>
      <input type="text" formControlName="school" placeholder="School"/>
      <input type="text" formControlName="graduationYear" placeholder="Year of graduation"/>

      <p class="errorMessage" *ngIf="!mainForm.controls.education.valid && mainForm.controls.education.touched">
        Your school name has to be at least 3 characters and your graduation year has to be between 1980-2099.
      </p>

    </div>
  </div>

  <div formGroupName="address">
    <h2>Adress:</h2>

    <input type="text" formControlName="city" placeholder="City"/>
    <br/>
    <input type="text" formControlName="country" placeholder="Country"/>
    <br/>
    <span class="errorMessage" *ngIf="!mainForm.controls.address.valid && mainForm.controls.address.touched">
      City and country are required
    </span>

  </div>



  <div>
    <h2>Tell us about yourself:</h2>
    <textarea formControlName="description" rows="3"></textarea>

    <span class="errorMessage" *ngIf="mainForm.controls.description && !mainForm.controls.description.valid && mainForm.controls.description.touched">
      We need to know something about you in at least 20 characters
    </span>


  </div>

  <div formArrayName="experience">
    <h2>Where did you work before:</h2>
    <div class="list" *ngFor="let item of mainForm.get('experience').controls; let i = index">
      <div [formGroupName]="i">
        <input type="text" formControlName="company" placeholder="Company"/>
        <input type="text" formControlName="position" placeholder="Position"/>
        <br/>
        <input type="text" formControlName="period" placeholder="Period" class="year"/>
        <br/>
        <button type="button" (click)="onRemoveExp(i)">Delete this experience</button>
        <p class="errorMessage" *ngIf="!item.valid && item.touched">
          Your former experience has to be at least 3 character and period is between 1980-2099.
        </p>
      </div>
    </div>
    <button type="button" (click)="onAddExp()">Add new experience</button>
  </div>

  <div>
    <p>Select which skills you have</p>
    <ul class="listOfSkills">
      <li><button class="skill btn" (click)="selectSkill(skill)" *ngFor="let skill of skills" [className]="skill.selected ? 'selected' : ''">
        {{skill.name}}
      </button></li>
    </ul>
  </div>

  <button type="submit" [disabled]="!mainForm.valid" (click)="onSubmit()">Send</button>

</form>
