.wrapper {
  font-size: 20px;
  display: block;
  justify-content: center;
}

ul .listOfSkills li {
  display: inline;
}

.selected {
  background-color: pink;
}

input {
  margin: 0.5em;
}

.errorMessage {
  color: red;
}
